<div class="dmt-home">
  <div class="dmt-home__title-container">
    <span class="danger">D</span>
    <span class="success">r</span>
    <span class="info">a</span>
    <span class="warning">w</span>
    <span class="primary">i</span>
    <span class="danger">n</span>
    <span class="light">g</span>
    <span class="warning"> m</span>
    <span class="success">o</span>
    <span class="info"> t</span>
    <span class="primary">o </span>
    <i class="warning fas fa-pencil-ruler  dmt-home__exclamation"></i>
  </div>
  <div class="dmt-home__body">
    <div class="dmt-home__header">
      PLAY THE GAME
    </div>
  </div>
</div>
